html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    color: rgba(0,0,0,0.9);
    font-family: "Droid Serif", serif;
    font-size: 90%;
    overflow-y: scroll;
}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Maven Pro", sans-serif;
}

a {
    color: inherit;
    text-decoration: underline;
}

@media print { a {
    text-decoration: none;
}}

p {
    padding: 0;
    margin: 1em 0 0 0;
    line-height: 1.5em;
}

ul, ol {
    margin: 0;
    padding: 0; 
}

li {
    margin-left: 1.5em;
    list-style: none;
    /* approximates the width added by the ::before element in row 1   */
    text-indent: -0.8em;
    /* emulate 1.5em line height, but keep lines in the same row tight */
    line-height: 1.1em;
    padding: 0.2em 0;
}

li::before {
    content: "\b7\a0\a0";
}

li > * {
    text-indent: initial;
}

li ul {
    /* also for emulating 1.5 em line height */
    margin-top: 0.2em;
}

img {
    display: block;
    box-sizing: border-box;
}

.page-container {
    min-height: 100%;
    max-width: 50em;
    padding: 1.5em 1em 0 1em;
    margin: 0 auto;
    position: relative;
}

@media print { .page-container {
    max-width: 100%;
    padding: 1.3em;
}}

.contact-container {
    text-align: center;
}

@media print { .contact-container {
    margin-top: 0;
}}

h1.name {
    font-size: 1.2em;
}

.contact-info a {
    text-decoration: none;
}

.phone, .website {
    display: none;
}

@media print { .phone, .website {
    display: initial;
}}

.navigation-container {
    margin-top: 1.5em;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

@media print { .navigation-container {
    display: none;
}}

.navigation-list-container {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.inline-list li {
    margin-left: 0;
    display: inline;
}

.inline-list li:first-child::before {
    content: none;
}

.navigation-list {
    margin: 0.25em 0;
}

.navigation-list a {
    text-decoration: none;
    text-transform: lowercase;
}

.content-container {
    padding-bottom: 3em;
}

@media print { .content-container {
    padding-bottom: 0;
}}

.content-panel {
    margin-top: 1em;
}

h2.fallback-header {
    text-align: center;
    padding: 0.25em 0;
    font-size: 1.1em;
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

@media print { .print-resume {
    /* positioning adjust on the single-page print resume */
    margin-top: 3em;
}}

h3.resume-section {
    margin-top: 1em;
    margin-bottom: 0.25em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1em;
}

.resume-fill-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.9);
    margin-left: 0.25em;
}

.resume-list > li {
    margin-left: 0.5em;
    text-indent: 0;
}

.resume-list >li:not(:first-child) {
    padding-top: 0.5em;
}

.resume-list > li::before {
    content: none;
}

.resume-company {
    font-style: italic;
}

.project-header-wrapper {
    text-align: center;
}

.project-title {
    margin-top: 1em;
    font-size: 1.1em;
}

.project-url {
    font-family: inherit;
    font-weight: normal;
    text-transform: none;
}

.project-pictures {
    text-align: center;
    line-height: 0;
}

.img-wrapper {
    display: inline-block;
    padding: 1em 0.5em 0 0.5em;
    max-width: 100%;
}

.overlay-container {
    display: inline-block;
    position: relative;
}

.overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 16em;
}

.overlay-container:hover .overlay {
    display: block;
    background-color: rgba(0,0,0,0.3);
}

.overlay i {
    font-size: 3em;
    color: #fff;
    text-outline: 1px #000;
}


.project-pictures img {
    border: 1px solid #000;
    height: auto;
    max-height: 16em;
    max-width: 100%;
}

.project-highlights {
    text-align: center;
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3em;
    box-sizing: border-box;
    padding: 1em 1em 0 1em;
    width: 100%;
    text-align: center;
}

@media print { .footer-container {
    display: none;
}}

.footer-content {
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-top: 0.4em
}

.fetch-failed-message, .default-footer-message {
    text-transform: lowercase;
}

.nostyle-only {
    display: none;
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    padding: 1em;
}

.lightbox-content {
    position: relative;
}

.lightbox-image {
    width: 100%;
    height: 100%;
}

.lightbox-close-button {
    position: absolute;
    top: 0.15em;
    right: 0.3em;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em
}

