.burger-page-container {
    justify-content: center;
}

.burger-title-container {
    text-align: center;
    margin-top: 1em;
}

.burger-title {
    font-size: 1.3em;
}

.burger-url {
    display: block;
}

.burger-item-container {
    margin: 1em 0;
}

.burger-item {
    margin-top: 1em;
}

.burger-item-description {
    margin-top: 0.18em;
}
