///////////////
// variables //
///////////////

$head-font: "Maven Pro", sans-serif;
$body-font: "Droid Serif", serif;
$code-font: "Anonymous Pro", monospace;

$page-width: 34em;
$nav-break: 22em; //to stop breaks in nav

$medium-font-size: 1.1em;
$large-font-size: 1.2em;

$background-color: var(--bg-color);
$text-color: var(--text-color);
$line-color: var(--line-color);
$lightbox-color: rgba(0,0,0,0.7);

$print-background-color: #fff;
$print-text-color: #000;

$line-border: 1px solid $line-color;

///////////////
// overrides //
///////////////

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $body-font;
    overflow-y: scroll;
}

body {
    --bg-color: #22222a;
    --text-color: rgba(255,255,245,0.9);
    --line-color: rgba(255,255,245,0.9);
}

body.light {
    --bg-color: rgba(255,255,245,1);
    --text-color: rgba(34,34,42,0.9);
    --line-color: rgba(34,34,42,0.9);
}

@media print { body {
    background-color: $print-background-color;
    color: $print-text-color;
}}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $head-font;
}

a {
    color: inherit;
    text-decoration: underline;
}

@media print { a {
    text-decoration: none;
}}

p {
    padding: 0;
    margin: 0;
    line-height: 1.3em;
}

* + p {
    margin: 1em 0 0 0;
}

ul, ol {
    margin: 0;
    padding: 0; 
}

li {
    margin-left: 1.5em;
    list-style: none;
    /* approximates the width added by the ::before element in row 1   */
    text-indent: -0.8em;
    line-height: 1.3em;
    padding: 0.2em 0;
}

li::before {
    content: "\b7\a0\a0";
}

li > * {
    text-indent: initial;
}

li ul {
    margin-top: 0.2em;
}

img {
    display: block;
    box-sizing: border-box;
}

.nostyle-only {
    display: none;
}

////////////////////
// page container //
////////////////////

.page-container {
    min-height: 100%;
    max-width: $page-width;
    padding: 0 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media print { .page-container {
    max-width: 100%;
    padding: 1.3em;
}}

////////////
// header //
////////////

.contact-container {
    margin-top: 1em;
    text-align: center;
}

@media print { .contact-container {
    margin-top: 0;
}}

h1.name {
    font-size: $large-font-size;
}

.contact-info a {
    text-decoration: none;
}

.phone, .website {
    display: none;
}

@media print { .phone, .website {
    display: initial;
}}

////////////////
// navigation //
////////////////

.navigation-container {
    margin-top: 1em;
    text-align: center;
    color: $background-color;
    background-color: $text-color;
}

@media print { .navigation-container {
    display: none;
}}

.navigation-list-container {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.inline-list li::before {
    content: "\b7\a0";
}

@media screen and (min-width: $nav-break) {
    .inline-list li {
        margin-left: 0;
        display: inline;
    }
    .inline-list li:first-child::before {
        content: none;
    }
}

.navigation-list {
    margin: 0.25em 0;
}

.navigation-list a {
    text-decoration: none;
    text-transform: lowercase;
}

.navigation-list a.open {
    text-decoration: underline;
}

/////////////
// content //
/////////////

.content-container {
    margin-top: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fallback-header-container {
    margin-top: 3em;
    padding-top: 1em; //to give a nice space above when navigating
}

h2.fallback-header {
    text-align: center;
    padding: 0.2em 0;
    font-size: $medium-font-size;
    color: $background-color;
    background-color: $text-color;
}

@media print { .print-resume {
    margin-top: 3em; //adjusts spacing for single-page print
}}

h3.resume-section,
h3.transcript-section {
    margin-top: 1em;
    margin-bottom: 0.25em;
    white-space: nowrap;
    overflow: hidden;
    font-size: $medium-font-size;
}

.resume-fill-line,
.transcript-fill-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $text-color;
    margin-left: 0.25em;
}

.resume-list > li {
    margin-left: 0.5em;
    text-indent: 0;
}

.resume-list >li:not(:first-child) {
    padding-top: 0.5em;
}

.resume-list > li::before {
    content: none;
}

.transcript-grade {
    font-weight: bold;
}

.transcript-explain {
    font-style: italic;
    text-align: center;
}

.project-header-wrapper {
    text-align: center;
}

.project-header-wrapper:not(.first) {
    margin-top: 1em;
    border-top: $line-border;
}

.project-title {
    margin-top: 1em;
    font-size: $medium-font-size;
}

.project-url {
    font-family: inherit;
    font-weight: normal;
    text-transform: none;
}

.project-pictures {
    text-align: center;
    line-height: 0;
    margin: 0 -0.5em; //allows img padding to overflow the container edges so img can use full container width
}

.img-wrapper {
    display: inline-block;
    padding: 1em 0.5em 0 0.5em;
    max-width: 100%;
}

.img-directlink {
    display: inline-block;
}

.overlay-container {
    display: inline-block;
    position: relative;
}

.overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 16em;
}

.project-pictures img {
    border: 1px solid $text-color;
    height: auto;
    max-height: 16em;
    max-width: 100%;
    cursor: zoom-in;
}

.project-highlights {
    text-align: center;
}

////////////
// footer //
////////////

.footer-container {
    margin-top: 1em;
    text-align: center;
}

@media print { .footer-container {
    display: none;
}}

.footer-content {
    border-top: $line-border;
    padding: 0.3em 0;
}

.fetch-failed-message, .default-footer-message {
    text-transform: lowercase;
}

//////////////
// lightbox //
//////////////

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightbox-color;
    padding: 1em;
    cursor: zoom-out;
}

.lightbox-content {
    position: relative;
}

.lightbox-image {
    width: 100%;
    height: 100%;
}

/////////
// 404 //
/////////

.page-container-404 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-404 {
    padding: 0.25em;
    text-align: center;
    border-top: $line-border;
    border-bottom: $line-border;
}
