///////////////
// variables //
///////////////

$head-font: "Outfit", sans-serif;
$body-font: "Outfit", sans-serif;
$code-font: "Anonymous Pro", monospace;

$page-width: 608px;
$nav-break: 352px; // minimum width for single-line nav bar

$medium-font-size: 18px;
$large-font-size: 19px;

$background-color: var(--bg-color);
$text-color: var(--text-color);
$line-color: var(--line-color);
$lightbox-color: rgba(0,0,0,0.7);

$print-background-color: #fff;
$print-text-color: #000;

$line-border: 1px dashed $line-color;
$dash-gradient: repeating-linear-gradient(90deg, $line-color, $line-color 5px, transparent 5px, transparent 10px);

///////////////
// overrides //
///////////////

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $body-font;
    overflow-y: scroll;
    font-size: 16px;
    line-height: 19px;
}

@mixin light-scheme {
  --text-color: #21212a;
  --line-color: rgba(0,0,32,0.4);
  --bg-color: #ffc524;
}

@mixin dark-scheme {
  --bg-color: #0a4059; //#8a0f2a; //#a21232;
  --text-color: #ffe;
  --line-color: #ffe;
}

body {
  @include light-scheme;
  @media (prefers-color-scheme: dark) { @include dark-scheme; }
  @media (prefers-color-scheme: light) { @include light-scheme; }
  &.invert-scheme {
    @include dark-scheme;
    @media (prefers-color-scheme: dark) { @include light-scheme; }
    @media (prefers-color-scheme: light) { @include dark-scheme; }
  }
}

@media print { body {
    background-color: $print-background-color;
    color: $print-text-color;
}}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $head-font;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a:focus-visible {
    border: 1px solid;
    margin: -1px -3px -2px -3px;
    padding: 0    2px  1px  2px;
}

@media print { a {
    text-decoration: none;
}}

p {
    padding: 0;
    margin: 16px 0 0 0;
}

.nowrap {
  white-space: nowrap;
}

ul, ol {
    margin: 0;
    padding: 0; 
}

li::before {
    font-weight: bold;
    content: "\b7\a0\a0";
}

li {
    margin-left: 24px;
    list-style: none;
    text-indent: -10px; // approximates the width added by the ::before element
    padding-top: 3px;
}

@media print { li {
    padding: 3px 0;
}}

@media print { li li {
    padding: 2px 0;
}}

li > * {
    text-indent: initial;
}

img {
    display: block;
    box-sizing: border-box;
}

.nostyle-only {
    display: none;
}

////////////////////
// page container //
////////////////////

.page-container {
    min-height: 100%;
    max-width: $page-width;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media print { .page-container {
    max-width: 100%;
    padding: 16px;
}}

////////////
// header //
////////////

.contact-container {
    margin-top: 16px;
    text-align: center;
}

@media print { .contact-container {
    margin-top: 0;
}}

h1.name {
    font-size: $large-font-size;
}

div.contact-info {
  margin-top: 4px;
}

.contact-info a {
    text-decoration: none;
}

.phone, .website {
    display: none;
}

@media print { .phone, .website {
    display: initial;
}}

////////////////
// navigation //
////////////////

.navigation-container {
    margin-top: 16px;
    color: $background-color;
    background-color: $text-color;
    display: flex;
    align-items: center;
}

@media print { .navigation-container {
    display: none;
}}

.navlist-container {
  margin: 2px 0 4px 0;
}

.inline-list {
  display: inline-block;
  text-transform: lowercase;
}

.inline-list li::before {
    content: "\b7\a0";
}

.nav-pad {
  flex-basis: 0;
  flex-grow: 1;
}

.nav-pad-right {
  text-align: right;
  line-height: 0;
}

.scheme-toggle-wrapper:not(.script-style-only) {
  display: inline;
}

a.scheme-toggle {
  margin: 0 6px;
  font-size: 16px;
  text-decoration: none;
}

// Display inline list on one line.
@media screen and (min-width: $nav-break) {
    .inline-list li:not([hidden]) {
        margin-left: 0;
        display: inline;
    }
    // First item gets nothing, subsequent items get a middot.
    .inline-list li::before {
        content: none;
    }
    .inline-list > li:not([hidden]) ~ li::before {
        content: "\b7\a0";
    }
}

.navigation-list {
    white-space: nowrap; // Prevents an overflow wrapping bug in Firefox.
}

.navigation-list a {
    text-decoration: none;
    text-transform: lowercase;
}

.noscript .navigation-list a {
  text-decoration: underline;
}

.navigation-list a.open {
    text-decoration: underline;
}

/////////////
// content //
/////////////

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.flex-pad-top {
    flex-grow: 1;
}

.flex-pad-bottom {
    flex-grow: 2.5;
}

// These provide the noscript fallback with (1) padding between sections;
// (2) space above the header when navigating directly.
.fallback-header-pad {
  height: 20px;
}
.fallback-header-container {
  padding-top: 20px;
}

h2.fallback-header {
    text-align: center;
    padding: 3px 0;
    font-size: $medium-font-size;
    color: $background-color;
    background-color: $text-color;
}

////////////
// resume //
////////////

@media print { .print-resume {
    margin-top: 6px; //adjusts spacing for single-page print
}}

h3.resume-section,
h3.transcript-section {
    margin-top: 16px;
    white-space: nowrap;
    overflow: hidden;
    font-size: $medium-font-size;
}

@media print { h3.resume-section {
    margin-top: 10px;
    margin-bottom: 3px;
}}

.resume-fill-line,
.transcript-fill-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: $dash-gradient;
    margin-left: 4px;
}

.resume-list > li {
    margin-left: 8px;
    padding-top: 11px;
    text-indent: 0;
}

.resume-list > li::before {
    content: none;
}

.resume-list-with-bullets {
    padding-top: 8px; // Maintain parity with top padding from resume-list <li>'s.
}

.employer {
  font-weight: bold;
}

.jobtitle + ul {
  margin-top: -2px;
}

ul + .jobtitle {
  margin-top: 5px;
}

@media print { .no-orphan {
    white-space: nowrap;
}}

////////////////
// transcript //
////////////////

.transcript-explain {
    text-align: center;
    margin: 16px auto 0 auto;
    max-width: 336px; // Approximate value for nice wrapping.
}

//////////////
// projects //
//////////////

.project-header-separator {
    margin-top: 16px;
    height: 1px;
    background: $dash-gradient;
}

.project-title {
    margin-top: 16px;
    font-size: $medium-font-size;
    text-align: center;
}

.project-url {
    font-family: inherit;
    font-weight: normal;
    text-transform: none;
    text-align: center;
}

.project-pictures {
    text-align: center;
    line-height: 0;
    margin: 0 -8px; //allows img padding to overflow the container edges so img can use full container width
}

.img-wrapper {
    display: inline-block;
    padding: 16px 8px 0 8px;
    max-width: 100%;
}

.img-directlink {
    display: inline-block;
}

.img-directlink:focus-visible {
    // Override the main a:focus-visible style
    border: 1px solid;
    padding: 2px;
    margin: -3px;
}

.overlay-container {
    display: inline-block;
    position: relative;
}

.overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 256px;
}

.lightbox-source {
    border: 1px solid $text-color;
    height: auto;
    max-height: 192px;
    max-width: 100%;
    cursor: zoom-in;
}

.project-highlights {
    text-align: center;
}

////////////
// footer //
////////////

.footer-container {
    margin-top: 16px;
    text-align: center;
}

@media print { .footer-container {
    display: none;
}}

.footer-separator {
   height: 1px;
   background: $dash-gradient;
}

.footer-content {
    padding: 5px 0;
}

//////////////
// lightbox //
//////////////

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightbox-color;
    padding: 16px;
    cursor: zoom-out;
}

.lightbox-content {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.lightbox-image[hidden] {
  display: none;
}

/////////
// 404 //
/////////

.page-container-404 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-404 {
    padding: 4px;
    text-align: center;
    border-top: $line-border;
    border-bottom: $line-border;
}
